upstream dashboard {
  server unix:<%= @dashboard_dir %>/run/gunicorn.sock fail_timeout=0;
}

server {
    listen   <%= @port %>;
    server_name dashboard.com;

    client_max_body_size 4G;

    access_log <%= @dashboard_dir %>/logs/nginx-access.log;
    error_log <%= @dashboard_dir %>/logs/nginx-error.log;
 
    location /static/ {
        alias   <%= @dashboard_dir %>/dashboard/static/;
    }
    
    location /media/ {
        alias   <%= @dashboard_dir %>/dashboard/media/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass http://dashboard;
            break;
        }
    }

    # Error pages
    #error_page 500 502 503 504 /500.html;
    #location = /500.html {
    #    root <%= @dashboard_dir %>/dashboard/static/;
    #}
}