[program:sva_dashboard]
command = <%= @dashboard_dir %>/bin/gunicorn_start.sh
priority = 2
user = <%= @user %>
stdout_logfile = <%= @dashboard_dir %>/logs/gunicorn_supervisor.log
redirect_stderr = true
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8

[program:celery]
command = <%= @venv_dir %>/bin/celery -A dashboard_web worker -B --loglevel=info
priority = 3
user = <%= @user %>
stdout_logfile = <%= @dashboard_dir %>/logs/celery.log
redirect_stderr = true
directory = <%= @dashboard_dir %>/dashboard
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8

[program:celery_flower]
command = <%= @venv_dir %>/bin/celery -A dashboard_web flower --loglevel=info
priority = 4
user = <%= @user %>
stdout_logfile = <%= @dashboard_dir %>/logs/celery_flower.log
redirect_stderr = true
directory = <%= @dashboard_dir %>/dashboard
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
